.padding {
    padding: 1rem;
}
.padding-top {
    padding-top: 1rem;
}
.padding-bottom {
    padding-bottom: 1rem;
}
.padding-left {
    padding-left: 1rem;
}
.padding-right {
    padding-v: 1rem;
}