<div class="block-header">
    <h2>PESQUISA DE PEÇAS</h2>
    <ul>
      <li *ngFor="let p of minhasPecas">
        {{ p.nome }}
      </li>
    </ul>
</div>
<div class="row clearfix">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="header">
        <div class="row clearfix">
          <div class="col-xs-12 col-sm-6">
            <h2>
              <i *ngIf="categoriaTijolos != '' && pecas == ''" class="material-icons" (click)="listarCategorias([])" >arrow_back</i>
              <i *ngIf="pecas != ''" (click)="listarCategorias(categoriaTijolos)" class="material-icons">arrow_back</i>
              <label>CATEGORIAS</label>
              <label *ngIf="pecas != ''"> <i class="material-icons">chevron_right</i> Pecas</label>
            </h2>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="table-responsive">
          <div *ngIf="categoriaTijolos == '' && pecas == ''">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-4 ">
              <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 waves-effect" type="image" name="nome" src="../../assets/img/categorias/Bricks.png"  (click)="listarCategorias([2,5,6,11,20,37])" />
              <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Blocos</label>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-4 ">
              <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 waves-effect" type="image" name="nome" src="../../assets/img/categorias/Technic.png" (click)="listarCategorias([8,12,25,26,40,41,45,46,51,52,53,54,55])"/>
              <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Technic</label>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-4">
              <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 waves-effect" type="image" name="nome" src="../../assets/img/categorias/Slope.png"   (click)="listarCategorias([3])"/>
              <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Curvos</label>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-4 ">
              <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 waves-effect" type="image" name="nome" src="../../assets/img/categorias/Tiles.png"   (click)="listarCategorias([10,15,19])"/>
              <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Curvos</label>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-4 ">
              <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 waves-effect" type="image" name="nome" src="../../assets/img/categorias/Plates.png"  (click)="listarCategorias([1,9,14,21,49])"/>  
              <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Pisos</label>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-4 ">
              <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 waves-effect" type="image" name="nome" src="../../assets/img/categorias/SNOT.png"    (click)="listarCategorias([4,7,13,16,18,22,23,24,27,28,29,30,31,32,33,34,35,36,38,39,44,47,48,56])"/>
              <label class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Outros</label>
            </div>
          </div>
          <div *ngIf="categoriaTijolos != '' && pecas == ''">
            <div *ngFor="let categoria of categorias">
              <div *ngIf="categoriaTijolos.includes(categoria.id)" class="col-xs-4 col-lg-4">
                <div (click)="listarPecasPorCategoria(categoria)">
                  <div *ngFor="let exemplo of categoria.exemploCat">
                    <img *ngIf="exemplo.part_img_url" class="col-xs-6 col-lg-4 img-responsive thumbnail" src="{{exemplo.part_img_url}}" />
                  </div>
                  <div class="col-lg-12 font-bold">{{categoria.name}}</div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="pecas != '' && coresPeca == ''">
            <div>
              <nav>
                <ul class="pagination">
                  <li><a href="javascript:void(0);"><i class="material-icons">chevron_left</i></a></li>
                  
                  <li *ngFor="let indice of indicePaginacao" (click)="selectPaging(indice)"
                      [ngClass]="indice == page ? 'active' : 'waves-effect'">
                    <a> {{indice}} </a>
                  </li>
                  
                  <li><a href="javascript:void(0);" class="waves-effect"><i class="material-icons">chevron_right</i></a></li>
                </ul>
              </nav>
            </div>
            <span *ngFor="let peca of pecas">
              <span *ngIf="peca.part_img_url" class="col-lg-3 col-xs-4" 
                  (click)=detalharPeca(peca.part_num)>
                <img class="col-lg-12 col-xs-12 img-responsive thumbnail" src="{{peca.part_img_url}}" />
                <div class="font-bold">{{peca.name}}</div>
              </span>
            </span>
          </div>
          <span *ngIf="coresPeca != ''" class="dashboard-stat-list">
            <span *ngFor="let peca of coresPeca">
              <div *ngIf="peca.part_img_url" class="col-lg-3 col-xs-4" 
                  (click)=detalharPeca(peca.part_num)>
                <img class="col-lg-12 col-xs-12 img-responsive thumbnail" src="{{peca.part_img_url}}" />
                <div class="font-bold">{{peca.name}}</div>
              </div>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>